@charset "UTF-8";


.landing-page {
    position: relative;
    background: url('../images/service/lgs-lp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px; 
}

.header-content {
  padding-left: 92px;
  padding-top: 210px; 
  
}

.curve-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 620px; 
    height: 93px; 
}

.breadcrumb-overlay {
    position: absolute;
    bottom: 30px;  
    left: 100px;   
    font-size: var(--fs-sm);
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var(--dark-charcoal);
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb-arrow {
    color: var(--burnt-orange);
    font-size: 11.52px;
}

.breadcrumb-current {
    color: var(--burnt-orange);
    font-weight: 600;
}

main {
  background-color: var(--white);
}


/* Main Top Title */
.intro {
    padding-top: 108px;
    padding-bottom: 62px;
}


.title-divider {
  border-top: 1px solid var(--green-divider);
  opacity: 1;
  margin: 46px 0 36px 0;
}


/* FEATURE SECTION */
.feature-section {
    background-color: var(--service-bg); 
    position: relative;
    padding-bottom: 582px;
}

/* Typography */
.section-divider {
    border-top: 3px solid var(--burnt-orange);
    opacity: 10%;
    margin: 17px 0 29px 0;
}



/* case */
.service-case {
    padding-top: 156px;
}

.case-main-title {
    padding-bottom: 51px;
}

.case-main-title .main-title-jap {
    font-size: 40px;
}

.case-grid-grow {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;   
}

.case-card-item .case-image-wrapper img{
    border-radius: 16px;
    width: 100%;
    max-width: 411px;
}

.mobile-filter-container {
    display: flex;
    align-items: flex-start; 
}

.all-btn-wrapper {
    flex-shrink: 0;
}

.case-btn {
    padding-top: 14px;
    padding-bottom: 191px;
}

.footer-section {
    padding-top: 0;
}


/* 1200px */
@media screen and (min-width: 1200px) {
    .intro .service-title-jap br {
        display: none;
    }
    
    .solution-card {
        padding: 40px 15px; 
    }
  
    .card-text {
        font-size: var(--fs-lg); 
    }
}

/* 992px */
@media screen and (max-width: 992px){  
    .mobile-filter-container{
        flex-direction: column;
    }

    .choices-btn-wrapper{
        margin-top: 24px;
    }

    .custom-pad{
        padding: 10px 16px !important;
    }
}


/* 768px */
@media screen and (max-width: 768px) {
    .curve-container  {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 341px; 
        height: 51px; 
    }
  
    .breadcrumb-overlay {
        position: absolute;
        bottom: 10px !important; 
        left: 45px !important;   
        font-size: var(--fs-sm);
        color: var(--dark-charcoal);
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .curve-container  {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 341px; 
        height: 51px; 
    }
  
    .breadcrumb-overlay {
        position: absolute;
        bottom: 10px !important; 
        left: 45px !important;   
        font-size: var(--fs-sm);
        color:var(--dark-charcoal);
        display: flex;
        align-items: center;
        gap: 10px;
    }
}


/* 576px */
@media screen and (max-width: 576px) {
    .landing-page {
        background-image: url('../images/service/lgs-mb.png');
        min-height: 230px;
        background-size: cover;
    }
    
    .header-content {
        margin-top: 41px;
        padding: 85px 0 0 12px;
    }
    
    .header-content .main-title-jap {
        font-size: var(--fs-xl);
        font-weight: 600;
        padding-bottom: 14px;
    }
    
    .header-content .main-title-eng {
        font-weight: 400;
        letter-spacing: 0.12em;
    }
        
    .intro {
        padding-top: 72px;
        padding-bottom: 85px;
    }
    
    .intro .main-title-jap {
        font-size: var(--fs-lg);
        font-weight: 500;
        line-height: 165%;
        letter-spacing: 0.08em;
    }
    
     .intro  .title-divider {
        border-top: 1px solid var(--green-divider);
        opacity: 1;
        margin: 13px 0 14px 0;
    }
    
    .intro .service-title-jap {
        font-size: var(--fs-lg);
        background-size: 100% 17px; 
        line-height: 165%;
    }
    
    .pointers {
        padding-top: 14px !important;
    }
    
    .feature-section {
        padding-bottom: 963px;
    }
    
    
    .first-feature {
    padding-top: 120px;
    }
    
    .feature-section .service-title-jap {
        font-size: var(--fs-lg);
        font-weight: 600;
        line-height: 165%;
    }
    
    .feature-section .section-subtitle {
        font-size: 18px;      
    }
    
    .container > .row:not(:nth-child(3)) .sub {
        padding-top: 34px;
    }
    
    .section-divider {
        border-top: 3px solid var(--burnt-orange);
        opacity: 10%;
        margin: 19px 0 28px 0;
    }
    
    .feature-item,
    .container .row:last-child .feature-item {
    padding-top: 64px !important;
    }

    .container > .row:nth-child(3) .sub {
        padding-top: 40px;
    }

    .feature-list li {
        margin-bottom: 37px;
        font-weight: 600;
    }

    .gray-placeholder-box {
        width: 100%; 
        height: 243px;
    }
        
    .service-case {
        padding-top: 96px;
    }

    .case-content-area {
        padding-bottom: 15px;
    }

    .case-btn {
        padding-top: 25px !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    footer {
        margin-top: 0 !important;
        padding-top: 95px !important;
    }
        
}