@charset "UTF-8";

main {
  background-color: var(--white);
}

.privacy-policy-header {
    position: relative;
    background-color: var(--white-smoke);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.header-content {
    padding:  0 clamp(12px, 7.6vw - 17.7px, 92px);
    position: absolute;
    bottom: 0;
    margin-bottom: 123px;
}

.curve-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 620px; 
    height: 93px; 
}

.breadcrumb-overlay {
    position: absolute;
    bottom: 30px;  
    left: 100px;   
    font-size: var(--fs-sm);
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var(--dark-charcoal);
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb-arrow {
    color: var(--burnt-orange);
    font-size: 11.52px;
}

.breadcrumb-current {
    color: var(--burnt-orange);
    font-weight: 600;
}

@media screen and (max-width: 768px){  
    .privacy-policy-header {
        min-height: 270px; 
    }

    hr{
        margin-bottom: 72px;
    }

    .header-content {
        margin-bottom: 75px;
    }

    .curve-container  {
        width: 341px !important; 
        height: 51px !important; 
    }
  
    .breadcrumb-overlay {
        bottom: 10px !important; 
        left: 45px !important;   
    }
}


@media (max-width: 620px) {
    .curve-container {
        width: 100%;
        height: auto;
    }

    .breadcrumb-overlay {
        right: 20px;
    }
}


/* for main */
.privacy-policy-container{
    padding-top: 55px;
    padding-bottom: 50px;
    font-size: var(--fs-base);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 200%;
    color: var(--dark-charcoal);
    max-width: 1056px;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 32px 0 60px 0;
    opacity: 1;
}

.pp-sub-header{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 100%;
}

.pb-16{
    padding-bottom: 16px;
}

@media screen and (max-width: 768px){

    .pp-sub-header-custom{
        line-height: 165%;
    }
    .main-title-jap {
        font-size: 32px !important;
    }  

    .privacy-policy-container{
        padding-bottom: 0;
    }

    .pp-footer-section{
        margin-top: 97px;
    }

    .pb-16{
        padding-bottom: 21px;
    }

    .pb-10{
        padding-bottom: 13px;
    }

    .pb-6{
        padding-bottom: 6px;
    }
}




